.footer {
  background: #000;

  &__container {
    height: 260px;
    display: flex;
  }

  &__column {
    padding: 30px 0 50px;
    flex: 1 0 0;

    &:first-child {
      justify-content: space-between;
      flex-direction: column;
      display: flex;
    }

    &:nth-child(2) {
      align-items: center;
      display: flex;
    }
  }

  &__social-wrapper {
    align-items: center;
    flex-wrap: wrap;
    display: flex;
  }

  &__social-item {
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
    background: #373737;

    &:not(:last-child) {
      margin-right: 10px;
    }

    svg {
      width: 18px;
      height: 18px;
      fill: #fff;
    }
  }

  &__copyright {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
  }

  &__text {
    color: #7e7e7e;
    font-size: 12px;
    font-weight: 400;
  }

  @media (max-width: 1200px) {
    &__column {
      &:last-child {
        display: none;
      }
    }
  }

  @media (max-width: 768px) {
    &__container {
      flex-direction: column;
      display: flex;
      height: unset;
    }

    &__column {
      &:nth-child(2) {
        padding: 30px 0 10px;
        order: -1;
      }

      &:first-child {
        padding: 20px 0 10px;
      }
    }

    &__social-wrapper {
      margin-bottom: 30px;
    }
  }
}