.request-call-btn {
  top: 50%;
  right: 10%;
  width: 65px;
  height: 65px;
  position: fixed;
  justify-content: center;
  align-items: center;
  display: flex;
  transform: translateY(-50%);
  background: #b88b58;
  border-radius: 50%;

  svg {
    width: 30px;
    height: 30px;
    stroke: #fff;
    fill: transparent;
  }

  @media (max-width: 1200px) {
    top: unset;
    bottom: 20px;
    transform: unset;
  }

  @media (max-width: 768px) {
    width: 45px;
    height: 45px;

    svg {
      width: 20px;
      height: 20px;
    }
  }
}